.details-page {
    display: flex;
    gap: 40px;
    padding: 30px;

    .img-box {
        flex: 1;
        height: 350px;
        background: linear-gradient(135deg,  #2a2a72, #009ffd);
        border-radius: 14px;
    }

    .info-box {
        flex: 1;
    }

    h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
        color:#2a2a72;
    }

    .price {
        font-size: 22px;
        font-weight: 700;
        color: #009ffd;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 8px;

        .currency-icon {
            width: 20px;
            height: 20px;
        }
    }


    .desc {
        font-size: 16px;
        line-height: 1.6;
        color: #444;
        margin-bottom: 20px;
    }

    .features {
        margin-bottom: 25px;
        padding-left: 20px;

        li {
            margin-bottom: 8px;
            font-size: 15px;
        }
    }

    .add-btn {
        padding: 12px 25px;
        background: #2a2a72;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: #24245f;
        }
    }
}